*  {
   font-family: "arial", sans-serif;
}

.main.heading {
    font-size: 50px;

    margin-top: auto;
    padding-top: 20px;
    background-color: pink
}


.recipes {
    font-size: 25px;
    padding: 20px;
}